*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.table-style {
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: 2px solid midnightblue;
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
}

thead tr {
    background-color: midnightblue;
    color: #fff;
    text-align: left;
}

th,
td {
    padding: 0.7rem;
    text-align: center;
    border: 1px solid #ddd;
    white-space: nowrap;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.button-view,
.button-view1,
.button-view2,
.button-view3,
.button-view4,
.button-view5,
.button-view6,
.button-view7,
.button-view8,
.button-view9,
.button-view10 {
    background-color: #FCFCFD;
    box-shadow: 0 1px 3px rgba(0, 0, 10, 0.4);
    border-radius: 0.7rem;
    color: #006F94;
    cursor: pointer;
    font-size: 2.5vh;
    border: none;
    padding: 0 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
    width: 22vh;
    height: 6vh;
}

.hidden {
    display: none !important;
}

.blocTitle {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.button-return {
    background-color: #FCFCFD;
    box-shadow: 0 1px 3px rgba(0, 0, 10, 0.4);
    border-radius: 0.5rem;
    color: #006F94;
    cursor: pointer;
    width: 18vh;
    height: 6vh;
    font-size: 3vh;
    margin-top: 0.8rem;
    border: none;
    padding: 0 0.8rem;
    margin-bottom: 0.8rem;
    margin: 0 auto;
    display: block;
}

table {
    margin-bottom: 0.8rem;
}

@media screen and (max-width: 550px) {

    .button-view,
    .button-view1,
    .button-view2,
    .button-view3,
    .button-view4,
    .button-view5,
    .button-view6,
    .button-view7,
    .button-view8,
    .button-view9,
    .button-view10 {
        font-size: 3vh;
    }

    th,
    td {
        padding: 1.5rem;
    }

    .button-return {
        font-size: 2vh;
    }
}

a.button-return {
    padding-top: 0.45rem;
    text-decoration: none !important;
}